<table fxLayout="column" style="margin-top:20px;padding-left: 20px;padding-right: 20px;">
  <mat-form-field appearance="outline" hideRequiredMarker=true>
    <mat-label>Username</mat-label>
    <input matInput placeholder="username" name="username"
    >
    <mat-icon matSuffix>face</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" hideRequiredMarker=true>
    <mat-label>Enter your password</mat-label>
    <input name="password" matInput placeholder="password"
           [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button color="primary" style="margin-top:40px;margin-bottom: 20px;"
  >Sign In
  </button>
  <button fxShow.xs="true" fxShow.lt-xl="false" mat-raised-button color="accent" (click)="showSignUp()"
  >Sign Up
  </button>
</table>
